{% extends 'base.html.twig' %}

{% block title %}Edit Landing Page Lead{% endblock %}

{% block body %}
    <h1>Edit Landing Page Lead</h1>

    {{ include('landing_page_lead/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_landing_page_lead_index') }}">back to list</a>

    {{ include('landing_page_lead/_delete_form.html.twig') }}
{% endblock %}
