<div style="background:rgba(255,255,255,0.8);padding:2em;border-radius:5px;margin-top:2em;">
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-outline-success">{{ button_label|default('Enviar') }}</button>
{{ form_end(form) }}
</div>
