<!DOCTYPE html>
<html class=" s flexbox canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers no-applicationcache svg inlinesvg smil svgclippaths"
      lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="O Ponto Eletrônico Mais Ágil E Moderno">
    <meta name="author" content="TeamXcel">
    <title>Ponto Net | O Ponto Eletrônico Mais Ágil E Moderno</title>
    <link rel="shortcut icon" type="image/x-icon" href="./img/favicon.png">
    <link rel="stylesheet" href="./css/fontawesome.min.css">
    <link rel="stylesheet" href="./css/themify-icons.css">
    <link rel="stylesheet" href="./css/elegant-line-icons.css">
    <link rel="stylesheet" href="./css/elegant-font-icons.css">
    <link rel="stylesheet" href="./css/animate.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/slicknav.min.css">
    <link rel="stylesheet" href="./css/pricing-table.css">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="./js/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<body data-spy="scroll" data-target="#navmenu" data-offset="70" class="loaded">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<div class="site-preloader-wrap">
    <div class="spinner"></div>
</div>
<header id="header" class="header-section transparent">
    <div class="container">
        <nav class="navbar ">
            <div class="slicknav_menu"><a
                    href="#"
                    aria-haspopup="true" role="button" tabindex="0" class="slicknav_btn slicknav_collapsed"
                    style="outline: none;"><span class="slicknav_menutxt"></span><span
                        class="slicknav_icon slicknav_no-text"><span class="slicknav_icon-bar"></span><span
                            class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span></span></a>
                <ul class="slicknav_nav slicknav_hidden" aria-hidden="true" role="menu" style="display: none;">
                    <li><a data-scroll="" class="nav-link active"
                           href="#"><span class="sr-only">(current)</span></a>
                    </li>
                    <li><a href="#como-funciona" data-scroll="">Como funciona</a></li>
                    <li><a href="#beneficios" data-scroll="">Beneficios</a></li>
                    <li><a href="#planos-e-precos" data-scroll="">Planos e preços</a></li>
                    <li><a href="#blog" data-scroll="">Blog</a></li>
                    <li><a href="#contato" data-scroll="">Contato</a></li>
                </ul>
            </div>
            <a href="" class="navbar-brand">
                <img class="logo-light" src="./img/logo_light.svg" alt="Logo" style="max-width:150px;">
                <img class="logo-dark" src="./img/logo.svg" alt="Logo">
            </a>
            <div class="d-flex menu-wrap">
                <div id="mainmenu" class="mainmenu">
                    <ul class="nav">
                        <li><a data-scroll="" class="nav-link active"
                               href="#"><span class="sr-only">(current)</span></a>
                        </li>
                        <li><a href="#como-funciona" data-scroll="">Como funciona</a></li>
                        <li><a href="#beneficios" data-scroll="">Beneficios</a></li>
                        <li><a href="#planos-e-precos" data-scroll="">Planos e preços</a></li>
                        <li><a href="#blog" data-scroll="">Blog</a></li>
                        <li><a href="#contato" data-scroll="">Contato</a></li>
                    </ul>
                </div>
                <div class="header-right">
                    <a class="menu-btn default-btn btn-white"
                       href="#planos-e-precos">Contrate<span style="top: 49.5px; left: 14.8624px;"></span></a>
                </div>
            </div>
        </nav>
    </div>
</header>
<section class="hero-section d-flex align-items-center">
    <div class="anim-elements">
        <div class="anim-element"></div>
        <div class="anim-element"></div>
        <div class="anim-element"></div>
        <div class="anim-element"></div>
        <div class="anim-element"></div>
    </div>
    <div class="container">
        <div class="hero-wrap row">
            <div class="col-md-6">
                <div class="hero-content">
                    <span>Buscando o futuro da gestão de tempo!</span>
                    <h2>O ponto eletrônico mais ágil e moderno!</h2>
                    <p>Aqui você encontra o melhor ambiente para gerenciar suas horas ou do seu time em todos os seus
                        projetos de forma prática, inteligente e acessivel.</p>
                    <a href="#planos-e-precos" class="menu-btn default-btn" data-scroll="">Contrate
                        agora!<span style="top: 49.5px; left: 14.8624px;"></span></a>

                </div>
            </div>
            <div class="col-md-6">
                <div class="hero-content d-none d-md-block">
                    <img src="./img/SaaS-2.png" alt="saas">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="promo-section padding bd-bottom">
    <div class="container">
        <div class="promo-wrap row">
            <div class="col-md-4 xs-padding">
                <div class="promo-content">
                    <i class="ti-import color-red bg-red"></i>
                    <h3>Relatórios completos</h3>
                    <p>Seja para fechamento de folha ou para controlar projetos freelancers, trabalhe com agilidade,
                        transparência e elegância nos seus relatórios.</p>
                </div>
            </div>
            <div class="col-md-4 xs-padding">
                <div class="promo-content">
                    <i class="ti-package color-yellow bg-yellow"></i>
                    <h3>Segurança e confiança</h3>
                    <p>Todos os registros de ponto colhem dados de geolocalização e IP além de data e hora para que
                        sejam legalmente válidos.</p>
                </div>
            </div>
            <div class="col-md-4 xs-padding">
                <div class="promo-content">
                    <i class="ti-world color-blue bg-blue"></i>
                    <h3>Inteligente de verdade</h3>
                    <p>Integre como quiser utilizando nossa API, crie seus registros e webhooks com total liberdade.
                        Infinitas possibilidades!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content-section padding bg-grey bd-bottom">
    <div class="container">
        <div class="content-wrap row">
            <div class="col-lg-6 sm-padding">
                <div class="content-img">
                    <img src="./img/macbook-dashboard.svg" alt="content">
                </div>
            </div>
            <div id="como-funciona" class="col-lg-6 sm-padding">
                <div class="section-heading mb-40">
                    <h2>Como funciona</h2>
                    <p>Diferente das outras soluções de mercado, com o Ponto Net você organiza seu trabalho com
                        praticidade e agilidade </p>
                </div>
                <ul class="content-info">
                    <li>
                        <h3><span class="bg-red color-red">1</span> Crie multiplos projetos</h3>
                        <p>Registre suas horas em projetos especificos <br> com valor/hora por projeto e colaborador.
                            Ideal para líderes e freelancers!</p>
                    </li>
                    <li>
                        <h3><span class="bg-purple color-purple">2</span> Registre suas horas de forma inteligente</h3>
                        <p>Você pode utilizar tanto nosso cronometro quanto <br> lançar suas horas proativamente em uma
                            interface simples e direta. Opcionalmente, permita registros de hora via Alexa ou Google e
                            tenha um verdadeiro escritório moderno!</p>
                    </li>
                    <li>
                        <h3><span class="bg-blue color-blue">3</span> Compartilhe seus relatórios</h3>
                        <p>Visualize, baixe e compartilhe seus relatórios <br> com seus clientes ou lideres com envio
                            recorrente automatizado!</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="feature-section padding bd-bottom">
    <div class="anim-elements">
        <div class="anim-element"></div>
        <div class="anim-element"></div>
        <div class="anim-element"></div>
        <div class="anim-element"></div>
        <div class="anim-element"></div>
    </div>
    <div id="beneficios" class="container">
        <div class="section-heading mb-40 text-center">
            <span>Features</span>
            <h2>Beneficios</h2>
            <p>Oferecemos tudo que a tecnologia moderna tem de melhor para você e sua empresa</p>
        </div>
        <div class="feature-wrap row">
            <div class="col-lg-3 col-sm-6 padding-15">
                <div class="feature-content bg-red">
                    <i class="icon_documents color-red"></i>
                    <h3>Envio de relatório recorrente.</h3>
                    <p>Mantenha seus clientes ou líderes sempre atualizados de forma automatizada.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 padding-15">
                <div class="feature-content bg-blue">
                    <img class="i" style="width:40px;height:40px;margin-bottom:20px;" src="./icons/qr_code.svg"
                         alt="QR Code icon">
                    <h3>Registro por QR Code</h3>
                    <p>Além dos métodos tradicionais, utilize QR Code por colaborador para registro de horas.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 padding-15">
                <div class="feature-content bg-yellow">
                    <i class="icon_id-2 color-yellow"></i>
                    <h3>Controle de hora extra</h3>
                    <p>Garanta a saúde mental do seu time e mantenha o controle das horas extras e banco de horas.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 padding-15">
                <div class="feature-content bg-purple">
                    <i class="ti-lock color-purple"></i>
                    <h3>Autenticação de dois fatores</h3>
                    <p>Segurança sempre em primeiro lugar, tenha autenticação de dois fatores gratuita.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 padding-15">
                <div class="feature-content bg-green">
                    <i class="ti-face-smile color-green"></i>
                    <h3>Reconhecimento facial</h3>
                    <p>Garanta a integridade dos seus processos com face match no registro de ponto.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 padding-15">
                <div class="feature-content bg-orange">
                    <img class="i" style="width:40px;height:40px;margin-bottom:20px;" src="./icons/alexa_icon.svg"
                         alt="Alexa icon">
                    <h3>Integração Alexa e Google</h3>
                    <p>O futuro chegou, torne seu home office ou escritório automatizados por comando de voz.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 padding-15">
                <div class="feature-content bg-ash">
                    <img class="i" style="width:40px;height:40px;margin-bottom:20px;" src="./icons/whitelabel_icon.svg"
                         alt="Whitelabel icon">
                    <h3>Suas cores e marca</h3>
                    <p>Utilize sua identidade, cores e marcas em toda a interface do sistema e relatórios.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 padding-15">
                <div class="feature-content bg-paste">
                    <i class="icon_archive_alt color-paste"></i>
                    <h3>API e Integrações acessiveis</h3>
                    <p>Além de API pública bem documentada, também temos integrações pré-prontas de baixo custo.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content-area-section padding bd-bottom">
    <div class="container">
        <div class="content-wrap row">
            <div class="col-md-6">
                <div class="content-item">
                    <h2>Experimente por R$ 0,99 Agora!</h2>
                    <p>Aproveite nossa promoção na licença pessoal por tempo limitado!</p>
                    <p>Temos planos para todos os tamanhos, de freelancers a empresas
                        para se adaptar ao momento do seu negócio.
                    </p>
                    <p>Não perca tempo e faça parte da modernização do ponto digital agora mesmo!</p>
                    <a href="#contato"
                       data-selected-plan="1_user"
                       class="default-btn">Contratar agora<span style="top: 24.25px; left: 127px;"></span></a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="content-img">
                    <img src="./img/SaaS-4.png" alt="saas">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pricing-section padding bd-bottom bg-grey">
    <div class="container">
        <div id="planos-e-precos" class="section-heading mb-40 text-center">
            <span>Tabela de planos</span>
            <h2>Planos &amp; Preços</h2>
            <p>Para todos os tamanhos de negócios e sem carência, cancele quando quiser!</p>
        </div>
        <div class="cd-pricing-switcher-container">
            <div class="cd-pricing-switcher text-center">
                <p class="fieldset">
                    <input type="radio" name="duration-1" value="monthly" id="monthly-1" checked="">
                    <label for="monthly-1">Mensal</label>
                    <input type="radio" name="duration-1" value="yearly" id="yearly-1">
                    <label for="yearly-1">Anual</label>
                    <span class="cd-switch"></span>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 xs-padding">
                <div class="pricing-wrap cd-pricing-container">
                    <ul class="cd-pricing-list cd-bounce-invert row">
                        <li class="cd-popular col-lg-3">
                            <ul class="cd-pricing-wrapper">
                                <li data-type="monthly" class="is-visible pricing-box">
                                    <div class="pricing-head">
                                        <img src="./img/pricing-icon-1.png" alt="Logo plano gratuito">
                                        <div class="d-flex flex-column">
                                            <h2 style="margin-bottom:0;">1 <br/>usuário</h2>
                                            <small style="text-decoration: line-through;color:red;margin:4px;line-height:0;">R$
                                                9,90</small>
                                            <h3 style="color:green;font-size:30px;">R$ 0,99</h3>
                                        </div>
                                    </div>
                                    <ul class="pricing-list text-left">
                                        <li>Uso individual</li>
                                        <li>Cadastro de horas</li>
                                        <li>Auditoria com data e IP</li>
                                        <li>Cadastro de projetos</li>
                                        <li>Valor hora por projeto</li>
                                        <li>Cadastro por QR Code</li>
                                        <li>Reconhecimento facial</li>
                                        <li>Relatórios pessoais</li>
                                        <li>Envio de relatórios</li>
                                        <li>Suas cores e marca</li>
                                        <li>Comando de voz Alexa</li>
                                        <li>Comando de voz Google</li>
                                        <li>API</li>
                                        <li>2FA</li>
                                    </ul>
                                    <div class="pricing-footer">
                                        <a href="#contato"
                                           data-selected-plan="1_user"
                                           class="default-btn btn-blue">Contrate agora<span></span></a>
                                    </div>
                                </li>
                                <li data-type="yearly" class="is-hidden pricing-box">
                                    <div class="pricing-head">
                                        <img src="./img/pricing-icon-2.png" alt="Logo plano starter anual">
                                        <h2>1 <br/>usuário</h2>
                                        <h4 style="text-decoration: line-through;color:red;">R$ 95,00</h4>
                                        <h3 style="color:green;font-size: 35px;">R$ 119,00</h3>
                                        <b>20% de desconto em relação ao plano mensal</b>
                                    </div>
                                    <ul class="pricing-list text-left">
                                        <li>Uso individual</li>
                                        <li>Cadastro de horas</li>
                                        <li>Auditoria com data e IP</li>
                                        <li>Cadastro de projetos</li>
                                        <li>Valor hora por projeto</li>
                                        <li>Cadastro por QR Code</li>
                                        <li>Reconhecimento facial</li>
                                        <li>Relatórios pessoais</li>
                                        <li>Envio de relatórios</li>
                                        <li>Suas cores e marca</li>
                                        <li>Comando de voz Alexa</li>
                                        <li>Comando de voz Google</li>
                                        <li>API</li>
                                        <li>2FA</li>
                                    </ul>
                                    <div class="pricing-footer">
                                        <a href="#contato"
                                           data-selected-plan="1_user"
                                           class="default-btn btn-blue">Contrate agora<span></span></a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="col-lg-3">
                            <ul class="cd-pricing-wrapper">
                                <li data-type="monthly" class="is-visible pricing-box">
                                    <div class="pricing-head">
                                        <img src="./img/pricing-icon-2.png" alt="Logo plano starter anual">
                                        <h2>5 <br/>usuários</h2>
                                        <h3 style="color:green;font-size: 35px;">R$ 29,90</h3>
                                    </div>
                                    <ul class="pricing-list text-left">
                                        <li>Até 5 colaboradores</li>
                                        <li>Cadastro de horas</li>
                                        <li>Auditoria com data e IP</li>
                                        <li>Cadastro de projetos</li>
                                        <li>Valor hora por projeto</li>
                                        <li>Cadastro por QR Code</li>
                                        <li>Reconhecimento facial</li>
                                        <li>Relatórios pessoais</li>
                                        <li>Envio de relatórios</li>
                                        <li>Suas cores e marca</li>
                                        <li>Comando de voz Alexa</li>
                                        <li>Comando de voz Google</li>
                                        <li>API</li>
                                        <li>2FA</li>
                                    </ul>
                                    <div class="pricing-footer">
                                        <a href="#contato"
                                           data-selected-plan="5_users"
                                           class="default-btn btn-blue">Contrate agora<span></span></a>
                                    </div>
                                </li>
                                <li data-type="yearly" class="is-hidden pricing-box">
                                    <div class="pricing-head">
                                        <img src="./img/pricing-icon-2.png" alt="Logo plano starter anual">
                                        <h2>5 <br/>usuários</h2>
                                        <h4 style="text-decoration: line-through;color:red;">R$ 359,00</h4>
                                        <h3 style="color:green;font-size: 35px;">R$ 287,00</h3>
                                        <b>20% de desconto em relação ao plano mensal</b>
                                    </div>
                                    <ul class="pricing-list text-left">
                                        <li>Até 5 colaboradores</li>
                                        <li>Cadastro de horas</li>
                                        <li>Auditoria com data e IP</li>
                                        <li>Cadastro de projetos</li>
                                        <li>Valor hora por projeto</li>
                                        <li>Cadastro por QR Code</li>
                                        <li>Reconhecimento facial</li>
                                        <li>Relatórios pessoais</li>
                                        <li>Envio de relatórios</li>
                                        <li>Suas cores e marca</li>
                                        <li>Comando de voz Alexa</li>
                                        <li>Comando de voz Google</li>
                                        <li>API</li>
                                        <li>2FA</li>
                                    </ul>
                                    <div class="pricing-footer">
                                        <a href="#contato"
                                           data-selected-plan="5_users"
                                           class="default-btn btn-blue">Contrate agora<span></span></a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="col-lg-3">
                            <ul class="cd-pricing-wrapper">
                                <li data-type="monthly" class="is-visible pricing-box">
                                    <div class="pricing-head">
                                        <img src="./img/pricing-icon-2.png" alt="Logo plano starter anual">
                                        <h2>25 <br/>usuários</h2>
                                        <h3 style="color:green;font-size: 35px;">R$ 99,90 </h3>
                                    </div>
                                    <ul class="pricing-list text-left">
                                        <li>Até 25 colaboradores</li>
                                        <li>Cadastro de horas</li>
                                        <li>Auditoria com data e IP</li>
                                        <li>Cadastro de projetos</li>
                                        <li>Valor hora por projeto</li>
                                        <li>Cadastro por QR Code</li>
                                        <li>Reconhecimento facial</li>
                                        <li>Relatórios pessoais</li>
                                        <li>Envio de relatórios</li>
                                        <li>Suas cores e marca</li>
                                        <li>Comando de voz Alexa</li>
                                        <li>Comando de voz Google</li>
                                        <li>API</li>
                                        <li>2FA</li>
                                    </ul>
                                    <div class="pricing-footer">
                                        <a href="#contato"
                                           data-selected-plan="25_users"
                                           class="default-btn btn-blue">Contrate agora<span></span></a>
                                    </div>
                                </li>
                                <li data-type="yearly" class="is-hidden pricing-box">
                                    <div class="pricing-head">
                                        <img src="./img/pricing-icon-2.png" alt="Logo plano starter anual">
                                        <h2>25 <br/>usuários</h2>
                                        <h4 style="text-decoration: line-through;color:red;">R$ 1198,80</h4>
                                        <h3 style="color:green;font-size: 35px;">R$ 960,00</h3>
                                        <b>20% de desconto em relação ao plano mensal</b>
                                    </div>
                                    <ul class="pricing-list text-left">
                                        <li>Até 25 colaboradores</li>
                                        <li>Cadastro de horas</li>
                                        <li>Auditoria com data e IP</li>
                                        <li>Cadastro de projetos</li>
                                        <li>Valor hora por projeto</li>
                                        <li>Cadastro por QR Code</li>
                                        <li>Reconhecimento facial</li>
                                        <li>Relatórios pessoais</li>
                                        <li>Envio de relatórios</li>
                                        <li>Suas cores e marca</li>
                                        <li>Comando de voz Alexa</li>
                                        <li>Comando de voz Google</li>
                                        <li>API</li>
                                        <li>2FA</li>
                                    </ul>
                                    <div class="pricing-footer">
                                        <a href="#contato"
                                           data-selected-plan="25_users"
                                           class="default-btn btn-blue">Contrate agora<span></span></a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="col-lg-3">
                            <ul class="cd-pricing-wrapper">
                                <li data-type="monthly" class="is-visible pricing-box">
                                    <div class="pricing-head">
                                        <img src="./img/pricing-icon-2.png" alt="Logo plano starter anual">
                                        <h2>Sob medida</h2>
                                        <h3 style="color:green;font-size: 20px;">Entre em contato!</h3>
                                    </div>
                                    <ul class="pricing-list text-left">
                                        <li>
                                            Valor por usuário variável pela quantidade de colaboradores,
                                            entre em contato e faça agora mesmo sua quotação com nossa equipe de vendas!
                                        </li>
                                    </ul>

                                    <div class="pricing-footer">
                                        <a href="#contato"
                                           data-selected-plan="on_demand"
                                           class="default-btn btn-blue">Contato<span
                                                style="top: 49.5px; left: 14.8624px;"></span></a>
                                    </div>
                                </li>
                                <li data-type="yearly" class="is-hidden pricing-box">
                                    <div class="pricing-head">
                                        <img src="./img/pricing-icon-2.png" alt="Logo plano starter anual">
                                        <h2>Sob medida</h2>
                                        <h3 style="color:green;font-size: 20px;">Entre em contato!</h3>
                                        <b>20% de desconto em relação ao plano mensal</b>
                                    </div>
                                    <ul class="pricing-list text-left">
                                        <li>
                                            Valor por usuário variável pela quantidade de colaboradores,
                                            entre em contato e faça agora mesmo sua quotação com nossa equipe de vendas!
                                        </li>
                                    </ul>

                                    <div class="pricing-footer">
                                        <a href="#contato"
                                           data-selected-plan="on_demand"
                                           class="default-btn btn-blue">Contato<span
                                                style="top: 49.5px; left: 14.8624px;"></span></a>
                                    </div>


                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="team-section padding bd-bottom">
    <div class="container">
        <div class="section-heading mb-40 text-center">
            <span>Nosso time</span>
            <h2>Conheça quem está por trás da ferramenta</h2>
            <p>Conte com o suporte de especialistas em gestão de equipes e projetos!</p>
        </div>
        <div class="team-wrap row justify-content-center">
            <div class="col-lg-3 col-sm-6 sm-padding">
                <div class="team-box">
                    <div class="team-info">
                        <img src="./img/team-1-copyright-490x554.jpg" alt="image">
                        <ul class="team-social">
                            <li>
                                <a href="https://www.linkedin.com/in/andr%C3%A9-chaves-31857b112/"
                                   target="_blank"
                                   class="fab fa-linkedin"></a></li>
                            <li>
                                <a href="https://medium.com/@symfonymaestro"
                                   target="_blank"
                                   class="fab fa-medium"></a></li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <h3>André Chaves</h3>
                        <span>CEO</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="testimonial-section bg-grey bd-bottom padding">
    <div class="container">
        <div class="section-heading mb-40 text-center">
            <span>depoimentos</span>
            <h2>O que nossos clientes pensam</h2>
            <p>Ainda em duvida? Veja como o Ponto Net mudou a vida dos nossos clientes e como ele pode mudar a sua</p>
        </div>
        <div id="" class="my-slider d-flex" style="height:210px;">
            <div class="testi-item d-flex align-items-center">
                <img src="./img/testi-2.jpg" alt="img">
                <div class="testi-content">
                    <p>"O Ponto Net é uma ferramenta excepcional! Sua simplicidade de uso e relatórios detalhados transformaram minha gestão de tempo. Recomendo fortemente!"</p>
                    <h3>Valentin Lacoste</h3>
                    <ul class="rattings">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                    <span>Freelancer</span>
                </div>
                <i class="fa fa-quote-right"></i>
            </div>
            <div class="testi-item d-flex align-items-center">
                <img src="./img/testi-2.jpg" alt="img">
                <div class="testi-content">
                    <p>"O Ponto Net é uma ferramenta excepcional! Sua simplicidade de uso e relatórios detalhados transformaram minha gestão de tempo. Recomendo fortemente!"</p>
                    <h3>Valentin Lacoste</h3>
                    <ul class="rattings">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                    <span>Freelancer</span>
                </div>
                <i class="fa fa-quote-right"></i>
            </div>
            <div class="testi-item d-flex align-items-center">
                <img src="./img/testi-2.jpg" alt="img">
                <div class="testi-content">
                    <p>"O Ponto Net é uma ferramenta excepcional! Sua simplicidade de uso e relatórios detalhados transformaram minha gestão de tempo. Recomendo fortemente!"</p>
                    <h3>Valentin Lacoste</h3>
                    <ul class="rattings">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                    <span>Freelancer</span>
                </div>
                <i class="fa fa-quote-right"></i>
            </div>
            <div class="testi-item d-flex align-items-center">
                <img src="./img/testi-2.jpg" alt="img">
                <div class="testi-content">
                    <p>"O Ponto Net é uma ferramenta excepcional! Sua simplicidade de uso e relatórios detalhados transformaram minha gestão de tempo. Recomendo fortemente!"</p>
                    <h3>Valentin Lacoste</h3>
                    <ul class="rattings">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                    <span>Freelancer</span>
                </div>
                <i class="fa fa-quote-right"></i>
            </div>

        </div>

    </div>
</section>
<section id="blog" class="blog-section padding bd-bottom">
    <div class="container">
        <div class="section-heading mb-40 text-center">
            <span>Blog</span>
            <h2>Conteúdo especializado</h2>
            <p>Acompanhe nosso blog para conteúdos especializados em gestão do tempo, projetos e pessoas!</p>
        </div>
        <div class="row blog-wrap">
            <div class="col-lg-4 col-sm-6 sm-padding">
                <div class="blog-item">
                    <div class="blog-thumb">
                        <img src="./img/post-1.jpg" alt="post">
                        <span class="category"><a
                                href="#">Gestão do tempo</a></span>
                    </div>
                    <div class="blog-content">
                        <h3><a href="#">Os 5 Maiores Desafios na Gestão de Horas para Freelancers</a></h3>
                        <p>Como superar a alta demanda de tarefas no seu dia-a-dia com o Ponto Net e entregar seus projetos com mais qualidade de vida.</p>
                        <a href="#"
                           class="read-more">Leia mais</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 sm-padding">
                <div class="blog-item">
                    <div class="blog-thumb">
                        <img src="./img/post-2.jpg" alt="post">
                        <span class="category"><a
                                href="#">Gestão de pessoas</a></span>
                    </div>
                    <div class="blog-content">
                        <h3><a href="#">Transformando sua Abordagem à Gestão de Horas</a></h3>
                        <p>Como o Ponto Net Pode Revolucionar seu Processo de Trabalho e do seu time em poucos passos.</p>
                        <a href="#"
                           class="read-more">Leia mais</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 sm-padding">
                <div class="blog-item">
                    <div class="blog-thumb">
                        <img src="./img/post-3.jpg" alt="post">
                        <span class="category"><a
                                href="#">Gestão de projetos</a></span>
                    </div>
                    <div class="blog-content">
                        <h3><a href="#">O Guia Definitivo para Estabelecer Metas Realistas de Produtividade na Gestão de Horas</a></h3>
                        <p>Aprenda a alinhar expectativas com seus clientes ou líderes e garanta seu sucesso.</p>
                        <a href="#"
                           class="read-more">Leia mais</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="contato" class="cta-section padding">
    <div class="overlay"></div>
    <div class="container">
        <div class="cta-wrap row">
            <div class="col-md-8">
                <div class="cta-content">
                    <h2>Pronto para se juntar a essa revolução? <br/>Fale com um dos nossos especialistas</h2>
                </div>
            </div>

            <div class="col-md-12">
                {{ include('landing_page/contact_form.html.twig', {'button_label': 'Falar com um especialista'}) }}
            </div>
        </div>
    </div>
</section>
<footer class="footer-section">
    <div class="container">
        <div class="row padding">
            <div class="col-lg-3 col-sm-6 sm-padding">
                <div class="widget-content">
                    <a href="#"><img
                            src="./img/logo_light.svg" alt="brand" style="max-width:150px;"></a>
                    <p>Buscando o futuro da gestão de tempo.</p>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6 sm-padding">
                <div class="widget-content">
                    <h4>Empresa</h4>
                    <ul class="widget-links">
                        <li><a href="#">Como funciona</a></li>
                        <li><a href="#">Beneficios</a></li>
                        <li><a href="#">planos-e-precos</a></li>
                        <li><a href="#">blog</a></li>
                        <li><a href="#">contato</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 sm-padding">
                <div class="widget-content">
                    <h4>Endereço</h4>
                    <p>Rua Nova América da Colina, 256 - São Paulo - Guarulhos</p>
                    <span><a href="mailto:contato@pontonet.site?subject=Contato ponto net&cc=contato@pontonet.site&bcc=andrechavesg@gmail.com&body=Ola, gostaria de saber mais sobre a ponto net!">contato@pontonet.site</a></span>
                    <span>(+55) 11 958039555</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 sm-padding">
                <div class="widget-content">
                    <h4>Não encontrou o que queria?</h4>
                    <div class="subscribe-box clearfix">
                        <div class="subscribe-form-wrap">
                            {{ include('landing_page/feedback_form.html.twig', {'button_label': 'Enviar sugestao'}) }}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-text text-center">
            <p>© 2024 Ponto Net Powered by Hefesto Software House</p>
        </div>
    </div>
</footer>
<a data-scroll="" href="#header" id="scroll-to-top" style="display: none;" class=""><i
        class="arrow_carrot-up"></i></a>
<script src="./js/jquery-1.12.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="./js/tether.min.js"></script>
<script src="./js/jquery.slicknav.min.js"></script>
<script src="./js/smooth-scroll.min.js"></script>
<script src="./js/jquery.ajaxchimp.min.js"></script>
<script src="./js/pricing-switcher.js"></script>
<script src="./js/wow.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.8/jquery.inputmask.min.js" integrity="sha512-efAcjYoYT0sXxQRtxGY37CKYmqsFVOIwMApaEbrxJr4RwqVVGw8o+Lfh/+59TU07+suZn1BWq4fDl5fdgyCNkw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="./js/main.js"></script>
</body>
</html>
