<!DOCTYPE html>
<html class=" s flexbox canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers no-applicationcache svg inlinesvg smil svgclippaths"
      lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="O Ponto Eletrônico Mais Ágil E Moderno">
    <meta name="author" content="TeamXcel">
    <title>Ponto Net | O Ponto Eletrônico Mais Ágil E Moderno</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="./css/fontawesome.min.css">
    <link rel="stylesheet" href="./css/themify-icons.css">
    <link rel="stylesheet" href="./css/elegant-line-icons.css">
    <link rel="stylesheet" href="./css/elegant-font-icons.css">
    <link rel="stylesheet" href="./css/animate.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/slicknav.min.css">
    <link rel="stylesheet" href="./css/pricing-table.css">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="./js/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WWXGMWBJLM"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        dataLayer.push({event: "purchase"})
        gtag('config', 'G-WWXGMWBJLM');
    </script>
</head>
<body data-spy="scroll" data-target="#navmenu" data-offset="70" class="loaded">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<div class="site-preloader-wrap">
    <div class="spinner"></div>
</div>
<header id="header" class="header-section transparent">
    <div class="container">
        <nav class="navbar ">
            <div class="slicknav_menu"><a
                    href="#"
                    aria-haspopup="true" role="button" tabindex="0" class="slicknav_btn slicknav_collapsed"
                    style="outline: none;"><span class="slicknav_menutxt"></span><span
                        class="slicknav_icon slicknav_no-text"><span class="slicknav_icon-bar"></span><span
                            class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span></span></a>
                <ul class="slicknav_nav slicknav_hidden" aria-hidden="true" role="menu" style="display: none;">
                    <li><a data-scroll="" class="nav-link active"
                           href="#"><span class="sr-only">(current)</span></a>
                    </li>
                    <li><a href="#como-funciona" data-scroll="">Como funciona</a></li>
                    <li><a href="#beneficios" data-scroll="">Beneficios</a></li>
                    <li><a href="#planos-e-precos" data-scroll="">Planos e preços</a></li>
                    <li><a href="#blog" data-scroll="">Blog</a></li>
                    <li><a href="#contato" data-scroll="">Contato</a></li>
                </ul>
            </div>
            <a href="" class="navbar-brand">
                <img class="logo-light" src="./img/logo_light.svg" alt="Logo" style="max-width:150px;">
                <img class="logo-dark" src="./img/logo.svg" alt="Logo">
            </a>
            <div class="d-flex menu-wrap">
                <div id="mainmenu" class="mainmenu">
                    <ul class="nav">
                        <li><a data-scroll="" class="nav-link active"
                               href="/#"><span class="sr-only">(current)</span></a>
                        </li>
                        <li><a href="/#como-funciona" data-scroll="">Como funciona</a></li>
                        <li><a href="/#beneficios" data-scroll="">Beneficios</a></li>
                        <li><a href="/#planos-e-precos" data-scroll="">Planos e preços</a></li>
                        <li><a href="/#blog" data-scroll="">Blog</a></li>
                        <li><a href="/#contato" data-scroll="">Contato</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<section class="hero-section d-flex align-items-center">
    <div class="anim-elements">
        <div class="anim-element"></div>
        <div class="anim-element"></div>
        <div class="anim-element"></div>
        <div class="anim-element"></div>
        <div class="anim-element"></div>
    </div>
    <div class="container">
        <div class="hero-wrap row">
            <div class="col-md-6">
                <div class="hero-content">
                    <span>seu contato foi enviado com suceso!</span>
                    <h2>Em breve nossos representantes entrarão em contato com você!</h2>
                    <a href="/" class="menu-btn default-btn" data-scroll="">Voltar<span style="top: 49.5px; left: 14.8624px;"></span></a>

                </div>
            </div>
            <div class="col-md-6">
                <div class="hero-content d-none d-md-block">
                    <img src="./img/SaaS-2.png" alt="saas">
                </div>
            </div>
        </div>
    </div>
</section>
<a data-scroll="" href="#header" id="scroll-to-top" style="display: none;" class=""><i
        class="arrow_carrot-up"></i></a>
<script src="./js/jquery-1.12.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="./js/wow.min.js"></script>
<script src="./js/main.js"></script>
</body>
</html>
