<form method="post" action="{{ path('app_landing_page_feedback_delete', {'id': landing_page_feedback.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ landing_page_feedback.id) }}">
    <button class="btn">Delete</button>
</form>
