{% extends 'base.html.twig' %}

{% block body %}
    <div {{ react_component('MyComponent', { 'fullName': 'Jimmy' }) }}>
        Loading... <i class="fas fa-cog fa-spin fa-3x"></i>
    </div>
{% endblock %}